
main{
    border:1px solid #cccccc;
    padding:20px;
    background:white;
}

fieldset{
    margin-bottom:20px;
    padding:15px;
    border:1px solid #cccccc;
}

legend{
    font-weight:bold;
}


button{
    margin-top:10px;
    padding:10px 15px;
    background:black;
    cursor:pointer;
    color: white;
    font-weight: bold;
}