table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

details{
    background:white;
    margin:10px 0;
    padding:15px;
    border-radius:6px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
